<div id="home">
  <header>
    <h1>Welcome to Shoutr</h1>
    <p>You can do anything on Shoutr. The only limitation is your imagination!</p>
  </header>

  <div class="home-forms">
    <div class="home-form">
      <%= render "sign_in_form" %>
    </div>
    <div class="home-form">
      <%= render "sign_up_form", user: @user %>
    </div>
  </div>
</div>